#palette_root {
  border-radius:0.25rem;
  box-shadow: initial;
  background-color: #424242;
  border-color: #212121;
}

#palette_root:hover {
  background-color: #424242;
  border-color: #fff;
}
.palette-items-wrapper{
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.nav-item {
  border: 2px solid #212121;;
  background-color: #424242;
  border-radius: 0.25rem;
  color: #fff;
}

.bootstrap-vertical-nav {
  position:fixed;
  float: left;
  z-index: 500;
}

.nav-tabs {
  border-bottom: none;
}
