<div class="container rounded"
     style="padding: 3px; position: absolute; user-select: none"
     [style.top]="nodeAttributes.otherAttributes.y + 'px'"
     [style.left]="nodeAttributes.otherAttributes.x + 'px'"
     id={{nodeAttributes.id}} [style.borderColor]="nodeAttributes.color" [style.backgroundColor]="nodeAttributes.color"
     (mousedown)="mouseDownHandler($event)"
     (mouseup)="mouseUpHandler($event)">
  <div class="row rounded"
       [class.selected]="makeSelectionVisible"
       [class.unselected]="!makeSelectionVisible"
       (click)="openSidebar($event); closeConnectorEndpoints()">
    <div class="col-sm-3">
      <img *ngIf="!nodeAttributes.imageUrl" src="https://robohash.org/{{nodeAttributes.id}}.png?set=set4"
           style="border-radius: 10%; margin-top: 1px; width: 50px; height: auto">
      <img *ngIf="nodeAttributes.imageUrl" src="{{nodeAttributes.imageUrl}}">
    </div>
    <div id="specifierDiv" class="col-sm-9">
      <table class="table table-active table-border--grey table-sm header-table">
        <tr [class.flashit]="setFlash">
          <td class="td-key">name:</td>
          <td class="td-value">{{nodeAttributes.name}}</td>
        </tr>
        <tr *ngIf="navbarButtonsState.buttonsState.idsButton">
          <td class="td-key">id:</td>
          <td class="td-value" style="color: crimson">{{nodeAttributes.id}}</td>
        </tr>
        <tr *ngIf="navbarButtonsState.buttonsState.typesButton">
          <td class="td-key">type:</td>
          <td class="btn-link td-value">{{nodeAttributes.id}}</td>
        </tr>
      </table>
    </div>
  </div>
  <div class="endpointContainer container rounded" [style.border-color]="this.nodeAttributes.color" style="width: 100%" *ngIf="connectorEndpointVisible"
       (mouseover)="makeSource($event)">
    <div class="btn-group-vertical btn-group-sm" role="group" id={{dragSource}} (mousedown)="passCurrentType($event)">
        <button *ngFor="let relationshipType of relationshipTypes"
                type="button" class="btn btn-sm btn-outline-secondary relationship-button sm"
                [style.border-color]="this.nodeAttributes.color"
                style="font-size: x-small;">
          {{relationshipType}}
        </button>
    </div>
  </div>

  <!-- Repaint jsPlumb on every accordion click -->

  <accordion #accordion (click)="repaint($event)">


    <!-- PROPERTIES -->
    <accordion-group
      #propertiesgroup
      panelClass="accordionGroupPanel"
      *ngIf="navbarButtonsState.buttonsState.propertiesButton">
      <div accordion-heading>
        Properties
        <i class="pull-sm-0 float-sm-right fa icon-styling padding-top--2px"
           [ngClass]="{'fa-chevron-down': propertiesgroup?.isOpen, 'fa-chevron-right': !propertiesgroup?.isOpen}"
        ></i>
      </div>
      <winery-properties></winery-properties>
    </accordion-group>

    <!-- DEPLOYMENT ARTIFACTS -->
    <accordion-group
      #deploymentartifactsgroup
      panelClass="accordionGroupPanel"
      *ngIf="navbarButtonsState.buttonsState.deploymentArtifactsButton">
      <div accordion-heading>
        Deployment Artifacts
        <i class="pull-sm-0 float-sm-right fa icon-styling padding-top--2px"
           [ngClass]="{'fa-chevron-down': deploymentartifactsgroup?.isOpen,
           'fa-chevron-right': !deploymentartifactsgroup?.isOpen}"
        ></i>
      </div>
      <winery-deployment-artifacts></winery-deployment-artifacts>
    </accordion-group>

    <!-- REQUIREMENTS & CAPABILITIES -->
    <accordion-group
      #requirementscapabilitiesgroup
      panelClass="accordionGroupPanel"
      *ngIf="navbarButtonsState.buttonsState.requirementsCapabilitiesButton">
      <div accordion-heading>
        Requirements & Capabilities
        <i class="pull-sm-0 float-sm-right fa icon-styling padding-top--2px"
           [ngClass]="{'fa-chevron-down': requirementscapabilitiesgroup?.isOpen,
           'fa-chevron-right': !requirementscapabilitiesgroup?.isOpen}"
        ></i>
      </div>
      <winery-requirements-capabilities></winery-requirements-capabilities>
    </accordion-group>

    <!-- POLICIES -->
    <accordion-group
      #policiesgroup
      panelClass="accordionGroupPanel"
      *ngIf="navbarButtonsState.buttonsState.policiesButton">
      <div accordion-heading>
        Policies
        <i class="pull-sm-0 float-sm-right fa icon-styling padding-top--2px"
           [ngClass]="{'fa-chevron-down': policiesgroup?.isOpen, 'fa-chevron-right': !policiesgroup?.isOpen}">
        </i>
      </div>
      <winery-policies></winery-policies>
    </accordion-group>

    <!-- TARGET LOCATIONS -->
    <accordion-group
      #targetlocationsgroup
      panelClass="accordionGroupPanel"
      *ngIf="navbarButtonsState.buttonsState.targetLocationsButton">
      <div accordion-heading>
        Target Locations
        <i class="pull-sm-0 float-sm-right fa icon-styling padding-top--2px"
           [ngClass]="{'fa-chevron-down': targetlocationsgroup?.isOpen,
           'fa-chevron-right': !targetlocationsgroup?.isOpen}">
        </i>
      </div>
      <winery-target-locations></winery-target-locations>
    </accordion-group>
  </accordion>
</div>
