<div class="container rounded"
     style="padding: 3px; position: absolute; user-select: none"
     [style.top]="nodeAttributes.y + 'px'"
     [style.left]="nodeAttributes.x + 'px'"
     id={{nodeAttributes.id}} [style.borderColor]="nodeAttributes.color" [style.backgroundColor]="nodeAttributes.color"
     (mousedown)="mouseDownHandler($event)"
     (mouseup)="mouseUpHandler($event)"
     [@onCreateNodeTemplateAnimation]='visibilityState'
     [class.removeZIndex]="removeZIndex">
  <div class="row rounded"
       [class.selected]="makeSelectionVisible"
       [class.unselected]="!makeSelectionVisible"
       (click)="openSidebar($event); closeConnectorEndpoints($event)">
    <div class="col-sm-1" style="padding: 0;">
      <table class="table table-responsive table-active table-border--grey table-sm header-table">
        <tr style="padding: 0">
          <td class="td-maxinstances"
              [class.flashminmax]="setMaxFlash">{{nodeAttributes.maxInstances}}</td>
        </tr>
        <tr><td class="table-spacer"><br/></td></tr>
        <tr style="padding: 0">
          <td class="td-mininstances"
              [class.flashminmax]="setMinFlash">{{nodeAttributes.minInstances}}</td>
        </tr>
      </table>
    </div>
    <div class="col-sm-3">
      <img *ngIf="!nodeAttributes.imageUrl" src="https://robohash.org/{{nodeAttributes.id}}.png?set=set4"
           style="border-radius: 10%; margin-top: 1px; width: 50px; height: auto">
      <img *ngIf="nodeAttributes.imageUrl" src="{{nodeAttributes.imageUrl}}">
    </div>
    <div id="specifierDiv" class="col-sm-8" style="padding-left: 0; padding-right: 0">
      <table class="table table-active table-border--grey table-sm header-table">
        <tr [class.flashit]="setFlash" class="row col-sm-12">
          <td class="td-key col-sm-4">name:</td>
          <td class="text-right td-value col-sm-8">{{nodeAttributes.name}}</td>
        </tr>
        <tr *ngIf="navbarButtonsState.buttonsState.idsButton" class="row col-sm-12">
          <td class="td-key col-sm-4">id:</td>
          <td class="text-right td-value col-sm-8" style="color: mediumvioletred">{{nodeAttributes.id}}</td>
        </tr>
        <tr *ngIf="navbarButtonsState.buttonsState.typesButton" class="row col-sm-12">
          <td class="td-key col-sm-4">type:</td>
          <td class="text-right btn-link td-value col-sm-8">{{nodeAttributes.id}}</td>
        </tr>
      </table>
    </div>
  </div>
  <div class="endpointContainer container rounded" [style.border-color]="this.nodeAttributes.color" style="width: 100%; box-shadow: none" *ngIf="connectorEndpointVisible"
       (mouseover)="makeSource($event)">
    <div class="btn-group-vertical btn-group-sm" role="group" id={{dragSource}} (mousedown)="passCurrentType($event)">
        <button *ngFor="let rel of allRelationshipTypesColors"
             type="button" class="btn btn-sm btn-outline-secondary relationship-button sm"
             [style.border-color]="this.nodeAttributes.color" [style.color]="rel.color"
             style="font-size: x-small">
          <i class="fa fa-arrow-circle-o-right" aria-hidden="true"></i> {{rel.type}}
        </button>
    </div>
  </div>

  <!-- Repaint jsPlumb on every accordion click -->
  <accordion #accordion (click)="repaint($event)">
    <!-- PROPERTIES -->
    <accordion-group
      #propertiesgroup
      panelClass="accordionGroupPanel"
      *ngIf="navbarButtonsState.buttonsState.propertiesButton">
      <div accordion-heading>
        Properties
        <i class="pull-sm-0 float-sm-right fa icon-styling padding-top--2px"
           [ngClass]="{'fa-chevron-down': propertiesgroup?.isOpen, 'fa-chevron-right': !propertiesgroup?.isOpen}"
        ></i>
      </div>
      <winery-properties></winery-properties>
    </accordion-group>

    <!-- DEPLOYMENT ARTIFACTS -->
    <accordion-group
      #deploymentartifactsgroup
      panelClass="accordionGroupPanel"
      *ngIf="navbarButtonsState.buttonsState.deploymentArtifactsButton">
      <div accordion-heading>
        Deployment Artifacts
        <i class="pull-sm-0 float-sm-right fa icon-styling padding-top--2px"
           [ngClass]="{'fa-chevron-down': deploymentartifactsgroup?.isOpen,
           'fa-chevron-right': !deploymentartifactsgroup?.isOpen}"
        ></i>
      </div>
      <winery-deployment-artifacts
          (toggleModalHandler)="toggleModalHandler($event)">
      </winery-deployment-artifacts>
    </accordion-group>

    <!-- REQUIREMENTS-->
    <accordion-group
      #requirementsgroup
      panelClass="accordionGroupPanel"
      *ngIf="navbarButtonsState.buttonsState.requirementsCapabilitiesButton">
      <div accordion-heading>
        Requirements
        <i class="pull-sm-0 float-sm-right fa icon-styling padding-top--2px"
           [ngClass]="{'fa-chevron-down': requirementscapabilitiesgroup?.isOpen,
           'fa-chevron-right': !requirementscapabilitiesgroup?.isOpen}"
        ></i>
      </div>
      <winery-requirements
          (toggleModalHandler)="toggleModalHandler($event)">
      </winery-requirements>
    </accordion-group>

      <!-- CAPABILITIES -->
      <accordion-group
          #capabilitiesgroup
          panelClass="accordionGroupPanel"
          *ngIf="navbarButtonsState.buttonsState.requirementsCapabilitiesButton">
          <div accordion-heading>
              Capabilities
              <i class="pull-sm-0 float-sm-right fa icon-styling padding-top--2px"
                 [ngClass]="{'fa-chevron-down': requirementscapabilitiesgroup?.isOpen,
           'fa-chevron-right': !requirementscapabilitiesgroup?.isOpen}"
              ></i>
          </div>
          <winery-capabilities
              (toggleModalHandler)="toggleModalHandler($event)">
          </winery-capabilities>
      </accordion-group>

    <!-- POLICIES -->
    <accordion-group
      #policiesgroup
      panelClass="accordionGroupPanel"
      *ngIf="navbarButtonsState.buttonsState.policiesButton">
      <div accordion-heading>
        Policies
        <i class="pull-sm-0 float-sm-right fa icon-styling padding-top--2px"
           [ngClass]="{'fa-chevron-down': policiesgroup?.isOpen, 'fa-chevron-right': !policiesgroup?.isOpen}">
        </i>
      </div>
      <winery-policies
          (toggleModalHandler)="toggleModalHandler($event)">
      </winery-policies>
    </accordion-group>

    <!-- TARGET LOCATIONS -->
    <accordion-group
      #targetlocationsgroup
      panelClass="accordionGroupPanel"
      *ngIf="navbarButtonsState.buttonsState.targetLocationsButton">
      <div accordion-heading>
        Target Locations
        <i class="pull-sm-0 float-sm-right fa icon-styling padding-top--2px"
           [ngClass]="{'fa-chevron-down': targetlocationsgroup?.isOpen,
           'fa-chevron-right': !targetlocationsgroup?.isOpen}">
        </i>
      </div>
      <winery-target-locations></winery-target-locations>
    </accordion-group>
  </accordion>
</div>

<!-- POLICIES MODAL -->
<winery-modal bsModal #policiesModal="bs-modal" [modalRef]="policiesModal" >
    <winery-modal-header [title]="'Add Policy'">
    </winery-modal-header>
    <winery-modal-body>
        <div class="form-group">
            <label for="policyName" class="control-label">Name:</label>
            <input id="policyName" class="form-control" name="Name" type="text" required="required" />
        </div>

        <div class="form-group">
            <label for="policyType" class="control-label">Type:</label>
            <select id="policyType" name="policyType" class="form-control">
            </select>
        </div>

        <div class="form-group">
            <label for="policyTemplate" class="control-label">Policy Template:</label>

            <select id="policyTemplate" class="form-control" name="policyTemplate"></select>
        </div>

        <div>
            <div id="OrionpolicyXML" class="orionxmleditordiv" ><pre></pre></div>
        </div>
    </winery-modal-body>
    <winery-modal-footer [showDefaultButtons]="false">
        <button type="button" class="btn btn-default" (click)="policiesModal.hide()">Cancel</button>
        <button type="button" id="addPolicy" class="btn btn-primary">Add</button>
    </winery-modal-footer>
</winery-modal>

<!-- CAPABILITIES MODAL -->
<winery-modal bsModal #capabilitiesModal="bs-modal" [modalRef]="capabilitiesModal" >
    <winery-modal-header [title]="'Add Capability'">
    </winery-modal-header>
    <winery-modal-body>
        <form id="addCapForm" enctype="multipart/form-data">
            <fieldset>

                <div class="form-group" id="CapIdGroup">
                    <label for="CapId" class="control-label">Id:</label>
                    <input id="CapId" class="form-control" name="CapId" type="text" required="required" />
                </div>

                <div class="form-group">
                    <label for="CapNameChooser" class="control-label">Definition Name:</label>
                    <select  id="CapNameChooser" class="form-control" type="text" required="required"> </select>
                </div>

                <div class="form-group">
                    <label for="CapTypeDisplay" class="control-label">Cap Type:</label>
                    <input  id="CapTypeDisplay" class="form-control" type="text" required="required" disabled="disabled"/>
                </div>

                <div id="CapPropertiesContainer">
                </div>
            </fieldset>
        </form>
    </winery-modal-body>
    <winery-modal-footer [showDefaultButtons]="false">
        <button type="button" class="btn btn-default" (click)="capabilitiesModal.hide()">Cancel</button>
        <button type="button" id="addCapbtn" class="btn btn-primary">Add</button>
    </winery-modal-footer>
</winery-modal>

<!-- REQUIREMENTS MODAL -->
<winery-modal bsModal #requirementsModal="bs-modal" [modalRef]="requirementsModal" >
    <winery-modal-header [title]="'Add Requirement'">
    </winery-modal-header>
    <winery-modal-body>
        <form id="addReqForm" enctype="multipart/form-data">
            <fieldset>

                <div class="form-group" id="ReqIdGroup">
                    <label for="ReqId" class="control-label">Id:</label>
                    <input id="ReqId" class="form-control" name="ReqId" type="text" required="required" />
                </div>

                <div class="form-group">
                    <label for="ReqNameChooser" class="control-label">Definition Name:</label>
                    <select  id="ReqNameChooser" class="form-control" type="text" required="required"> </select>
                </div>

                <div class="form-group">
                    <label for="ReqTypeDisplay" class="control-label">Cap Type:</label>
                    <input  id="ReqTypeDisplay" class="form-control" type="text" required="required" disabled="disabled"/>
                </div>

                <div id="ReqPropertiesContainer">
                </div>
            </fieldset>
        </form>
    </winery-modal-body>
    <winery-modal-footer [showDefaultButtons]="false">
        <button type="button" class="btn btn-default" (click)="requirementsModal.hide()">Cancel</button>
        <button type="button" id="addReqbtn" class="btn btn-primary">Add</button>
    </winery-modal-footer>
</winery-modal>

<!-- DEPLOYMENT ARTIFACT MODAL -->
<winery-modal bsModal #deploymentArtifactModal="bs-modal" [modalRef]="deploymentArtifactModal" >
    <winery-modal-header [title]="'Add Deployment Artifact'">
    </winery-modal-header>
    <winery-modal-body>
        <form id="addDeploymentArtifactForm" enctype="multipart/form-data">
            <fieldset>

                <div class="form-group">
                    <label>Name</label>
                    <input class="form-control" name="artifactName" id="artifactName" type="text" required="required" autocomplete="on" />
                </div>
                <h4>Artifact Template Creation</h4>
                <div class="radio">
                    <label>
                        <input type="radio" name="artifactTemplateCreation" value="createArtifactTemplate" checked="checked" id="createArtifactTemplateInput"/>Create Artifact Template>
                    </label>
                    <p class="help-block">Check if you want to upload <strong>new</strong> files, you do not want to reuse existing files and you do not point to an image library.</p>
                </div>
                <div class="radio">
                    <label>
                        <input type="radio" name="artifactTemplateCreation" value="linkArtifactTemplate"/>Link Artifact Template
                    </label>
                    <p class="help-block">Check if you want to reuse existing files.</p>
                </div>
                <div class="radio">
                    <label>
                        <input type="radio" name="artifactTemplateCreation" value="skipArtifactTemplate"/>Do not create an artifact template
                    </label>
                    <p class="help-block">Check if you want to point to an image library.</p>
                </div>
            </fieldset>
            <fieldset id="artifactTypeFieldset">
                <div class="form-group" id="artifactTypeDiv">
                    <label for="artifactType">Artifact Type</label>
                    <select name="artifactType" class="form-control" id="artifactType">


                    </select>
                </div>
            </fieldset>
            <fieldset>
                <div class="form-group-grouping">
                    <!-- createArtifactTemplate class is required for artifactcreationdialog -->
                    <div class="form-group createArtifactTemplate">
                        <label>Artifact Template Name</label>
                        <!-- name is an NCName -->
                        <input class="artifactData form-control" id="artifactTemplateName" name="artifactTemplateName" type="text" required="required" autocomplete="on" placeholder="Enter name for artifact template" pattern="[\i-[:]][\c-[:]]*"/>
                        <div id="artifactTemplateNameIsValid" class="invalid">
                            <span id="artifactTemplateNameIsInvalidReason"></span>
                        </div>
                    </div>

                    <!-- createArtifactTemplate class is required for artifactcreationdialog -->
                    <div class="form-group createArtifactTemplate">
                        <label for="artifactTemplateNS" class="control-label">Namespace</label>
                        <input type="text" class="form-control" name="artifactTemplateNS" id="artifactTemplateNS" />
                    </div>
                </div>

                <div id="linkArtifactTemplate" class="form-group" style="display:none;">
                    <label for="divArtifactTemplateToLink">Artifact Template</label>
                    <div id="divArtifactTemplateToLink">

                        <select id=artifactTemplateToLink name="artifactTemplate" class="form-control" style="max-width: 90%">
                        </select>

                        <a href="#" target="_blank" class="btn btn-info btn-sm" id="viewArtifactTemplateToLink">view</a>
                    </div>
                </div>
            </fieldset>
        </form>
    </winery-modal-body>
    <winery-modal-footer [showDefaultButtons]="false">
        <button type="button" class="btn btn-default" (click)="deploymentArtifactModal.hide()">Cancel</button>
        <button type="button" class="btn btn-primary">Add</button>
    </winery-modal-footer>
</winery-modal>
