<table class="table table-border--grey table-sm body-table">
    <tr>
        <th>
            Name
        </th>
        <th>
            Type
        </th>
        <th>
            Template
        </th>
    </tr>
    <tr>
        <td class="">username:</td>
        <td class="">root</td>
        <td class="">root</td>
    </tr>
    <tr>
        <td class="">password:</td>
        <td class="">12345678</td>
        <td class="">12345678</td>
    </tr>
</table>

<div class="add-button-wrapper">
    <button (click)="toggleModal($event);" class="btn btn-sm btn-modal">Add new</button>
</div>




